[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClusterBootstrap"]
	path = ClusterBootstrap
	url = https://github.com/mathijsdeen/clusterbootstrap
[submodule "MDMA"]
	path = MDMA
	url = https://github.com/mathijsdeen/mdma
